.site-layout-content {
  width: 60%;
  margin: auto;
  min-height: 70vh;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.layout {
  padding-top: 60px;
}

.content {
  min-height: 100vh;
}
